<a href="https://colab.research.google.com/github/Sabarishsusiraj/Diabetes-Prediction-using-self-built-Logistic-Regression-/blob/main/Diabetes_Prediction_using_self_built_Logistic_Regression_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import log_loss
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

In [83]:
data=pd.read_csv("/content/diabetes.csv")
data.head(10)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1
5            5      116             74  ...                     0.201   30        0
6            3       78             50  ...                     0.248   26        1
7           10      115              0  ...                     0.134   29        0
8            2      197             70  ...                     0.158   53        1
9            8      125             96  ...                     0.232   54        1

[10 rows x 9 columns]

In [84]:
data.shape

(768, 9)

In [85]:
data.isnull().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [87]:
data.corr()

                          Pregnancies   Glucose  ...       Age   Outcome
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
Outcome                      0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]

In [88]:
data.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [89]:
Y=data["Outcome"]
data.drop("Outcome",axis=1,inplace=True)
X=data
X.head()

   Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0            6      148             72  ...  33.6                     0.627   50
1            1       85             66  ...  26.6                     0.351   31
2            8      183             64  ...  23.3                     0.672   32
3            1       89             66  ...  28.1                     0.167   21
4            0      137             40  ...  43.1                     2.288   33

[5 rows x 8 columns]

In [90]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [91]:
scale=StandardScaler()
standard_X_train=scale.fit_transform(X_train)
standard_X_test=scale.transform(X_test)

In [92]:
class Logistic_Regression:
    def __init__(self,no_of_iterations,learning_rate):
        self.no_of_iterations=no_of_iterations
        self.learning_rate=learning_rate
    def fit(self,X,Y):
        self.m,self.n=X.shape
        self.w=np.zeros(self.n)
        self.b=0
        self.X=X
        self.Y=Y
        for i in range(self.no_of_iterations):
            self.update_weights()
    def update_weights(self):
        Y_pred=1/(1+np.exp(-(self.X.dot(self.w)+self.b)))
        dw=(1/self.m)*np.dot(self.X.T,(Y_pred-self.Y))
        db=(1/self.m)*np.sum(Y_pred-self.Y)
        self.w=self.w-self.learning_rate*dw
        self.b=self.b-self.learning_rate*db
    def predict(self,X):
        Y_out=1/(1+np.exp(-(X.dot(self.w)+self.b)))
        Y_out=np.where(Y_out>0.7,1,0)
        return Y_out

In [93]:
model=Logistic_Regression(1000,0.01)
model.fit(standard_X_train,Y_train)
Y_output=model.predict(standard_X_test)

In [94]:
accuracy_score(Y_test,Y_output)

0.7792207792207793

In [95]:
confusion_df = pd.DataFrame(confusion_matrix(Y_test,Y_output),
             columns=["Predicted Class " + str(class_name) for class_name in [0,1]],
             index = ["Class " + str(class_name) for class_name in [0,1]])
print(confusion_df)

         Predicted Class 0  Predicted Class 1
Class 0                107                  2
Class 1                 32                 13

In [96]:
print(classification_report(Y_test,Y_output))

              precision    recall  f1-score   support

           0       0.77      0.98      0.86       109
           1       0.87      0.29      0.43        45

    accuracy                           0.78       154
   macro avg       0.82      0.64      0.65       154
weighted avg       0.80      0.78      0.74       154

In [97]:
print(log_loss(Y_test,Y_output))

7.625454523518335